# OpenAI
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL_NAME=gpt-5-nano
OPENAI_EMBEDDING_MODEL_NAME=text-embedding-3-small

# Cohere
COHERE_API_KEY=your-cohere-api-key
COHERE_MODEL_NAME=rerank-v3.5
# Cohere検索で取得するドキュメント数
COHERE_RERANK_TOP_N=5

# MySQL
MYSQL_HOST=rdb
MYSQL_PORT=3306
MYSQL_USER=app
MYSQL_PASSWORD=app_password
MYSQL_DATABASE=text_to_sql
MYSQL_ROOT_PASSWORD=root

# Chroma
CHROMA_PERSIST_DIRECTORY=/text_to_sql/chroma_db
CHROMA_COLLECTION_NAME=table_summaries
# ベクトル検索で取得するドキュメント数
CHROMA_SEARCH_K=10
